body {
    margin: 0;
    background-color: rgb(15, 61, 101);
}

#loginPage {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.part {
    background-color: #7bb6ca;
    height: 80%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.part:hover {
    transition: 0.5s;
    color: rgb(255, 255, 255);
    background-color: #0b0c325b;
    font-size: 6em;
    cursor: pointer;
}

