body {
    margin: 0;
}


#loginPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.part {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    transition: all 1s;
}

.part:hover {
    filter: brightness(80%);
    font-size: 2.2em;
    height: 160%;
    cursor: pointer;
}

.topPart {
    background-color: rgb(349, 12, 23);
}

.bottomPart {
    background-color: rgb(01, 145, 350);
}