body,
head {
    margin: 0px;
    background: #16637a;
    overflow-x: hidden;
}

#app {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-button {
    border-radius: 2em;
    height: 250px;
    width: 250px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em;
    font-size: larger;
    gap: 2em;

    width: 100%;
}

#app:has(.chargementScreen) {
    align-items: center;

}

.numberToFind {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 140px;

    font-size: 64px;

    background: #FEBC03;
    border: 2px solid #000000;
}

.chrono {
    font-size: 30px;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
    color: hsl(166, 52%, 54%);
    border: hsl(166, 52%, 54%) solid;
    height: 85px;
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.returnButton {
    height: 75px;
    width: 75px;
}

.topPart {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.returnButton:hover {
    transform: translateY(1.5px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.endGameScreen {
    margin: 2em;
    font-size: 1.5em;
}

.chargementScreen {
    display: flex;
    gap: 9em;
    height: 70vh;
    padding-right: 9em;
}

.chargementScreen>.play-button {
    align-self: center;
    justify-self: center;
}

.operationList {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.number,
.operator {
    height: 4em;
    width: 4em;
    font-size: 15px;
    cursor: pointer;
}

.alreadySelected {
    opacity: 0.5;
    cursor: not-allowed;
}

.column .selected {
    background-color: rgb(70, 188, 101);
}


.gamePart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.columns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 50%;
    
}

.reset{
    width: 150px;
    height: 150px;
    font-size: larger;
    
}

.send{
    width: 150px;
    height: 150px;
    font-size: larger;
}

@media only screen and (min-width: 1500px) {

    body {
        font-size: 1em;
    }

    .endGameScreen {
        font-size: 1.5em;
    }

    .number,
    .operator {
        height: 4em;
        width: 4em;
        font-size: 25px;
        cursor: pointer;
    }
}